[Unit]
Description=Check NJUPT wired network login after startup

[Timer]
OnStartupSec=30s
Unit=njupt-autologin.service

[Install]
WantedBy=timers.target
